{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/profile_style.css') }}"/>
{% endblock %}

{% block title %}Change Name{% endblock %}

{% block content %}
    <div class="container">
        <div class="back">
            <a href="/profile">Wróć do profilu</a>
        </div>
        <h5>Zmień nazwę użytkownika</h5>
        <div>
            <form class="form" method="post">
                <div class="form-group">
                    <label for="username">Nowa nazwa:</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </form>
        </div>
    </div>
{% endblock %}