.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}

#chat-container{
    display: grid;
    grid-template-columns: minmax(auto, 900px) 300px;
    justify-content: center;
    margin: 5px;
}

#chat-side{
    display: grid;
    grid-template-rows: 50% 50%;
    padding: 10px;
    max-height: 100vh;
}

#messages{
    min-width: 300px;
}

#room_participants_container{
    padding: 10px;
}

#invite-users-container{
    max-height: 100%;
}

#invite-users-table-container{
    padding-top: 20px;
    max-height: 100%;
    overflow: auto;
}

#invite-users-table{
    width: 90%;
}

.invite-users-table-item{
    padding: 2px;
    margin-bottom: 5px;
}

.invite-users-table-item td{
    padding: 5px;
}

@media screen and (max-width: 800px) {
    #chat-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto fit-content(350px) fit-content(350px);
    }
}