.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}

#chat-container{
    display: grid;
    grid-template-columns: minmax(auto, 900px) 300px;
    justify-content: center;
    margin: 5px;
    color: var(--font-color);
}

#chat-side{
    display: grid;
    grid-template-rows: 50% 50%;
    padding: 10px;
    max-height: 100vh;
}

#messages{
    min-width: 300px;
}

#room_participants_container{
    padding: 10px;
}

.exit_btn{
    background-color: #FF5252;
    font: 400 13.3333px Arial;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    position: absolute;
    right: 10px;
    border: none;
    width: 8%;
    color: var(--font-color);
}

#invite-users-container{
    max-height: 100%;
}

#invite-users-table-container{
    padding-top: 30px;
    max-height: 100%;
    overflow: auto;
}

#invite-users-table{
    width: 100%;
}

.invite-users-table-item{
    padding: 2px;
    margin-bottom: 5px;
}

.invite-users-table-item td{
    padding: 5px;
}

hr{
    background-color: #dedede;
}

.user_joined{
    color: var(--font-color);
}

.messages{
    background-color: var(--primary-color);
}

#send_btn{
    background-color: #fea82f !important;
}

.refresh_btn{
    background-color: #8ab6d6;
    font: 400 13.3333px Arial;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    position: absolute;
    right: 10px;
    border: none;
    width: 8%;
    color: var(--font-color);
    position:absolute;
    top: 600px;
}
.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
    }

.container b.right{
    float: left;
    margin-left: 0px;
    margin-top: 3px;
}

.container b{
    color: var(--font-color) !important;
}

.time-left{
    float: right;
}


@media screen and (max-width: 800px) {
    #chat-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto fit-content(350px) fit-content(350px);
    }
}

#chat-window{
    background-color: var(--primary-color);
}

.container{
    background-color: var(--primary-color);
}