
#profile_list{
    width: 100%;
    float:left;
    border: none;
    margin-top: 5%;
}
.list_table{
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 280px;
}
.list_table thead tr{
    text-align: left;
    font-size: 1.5em;
}
.list_table th,
.list_table td{
    padding: 12px 15px;
    text-align: center;
    vertical-align: bottom;
}
.list_table tbody tr{
    font-weight: bold;

}
.list_table tbody tr:last-of-type{
}
#profile_name{
    font-size: 1.7em;
    color: black;
}

#profile_email{
    font-size: 1.3em;
    font-weight: lighter;
    padding-bottom: 50px;
    color: black;
}

#profile_photo{
    border-radius: 5em;
}
.profile_settings{
    text-decoration: none;
    color: rgb(254,126,0);
}

.profile_settings:hover{
    text-decoration: none;
    color: rgb(254,126,0);
}

#profile_delete{
    padding: 70px;
    color: red;
}

.container{
    background-color: var(--secondary-color) !important;
    color: var(--font-color) !important;
    border: none;
    width: 40% !important;
    text-align: center;
    min-width: 300px;
}

.back{
    text-align: right !important;
}

.back a{
    color: rgb(254,126,0) !important;
    text-decoration: none !important;
}

button[type=submit]{
    cursor: pointer;
    background: #ccc;
    background: linear-gradient(#ddd 0, #eee 100%);
    border: 1px solid #ccc;
    line-height: 32px;
    font-size: 18px;
    padding: 0 25px;
    border-radius: 3px;
    width: 40%;
    height: 50px;
    min-width: 150px;
    margin-right: 30%;
    color: black !important;
}

input[type=file]{
    margin-left: 17%;
}